<div class="col-md-3 col-sm-3 col-lg-3 container-carrinho">
    <h4>Carrinho <small a-ngi>{{qtdItem}}</small></h4>
    <div class="carrinho-vazio" *ngIf="showCard">
        <img class="image-responsive center-block" src="assets/images/cart.svg">
        <small>Até o momento,<br /> o seu carrinho está vazio</small>
    </div>
    <div class="carrinho-cheio" *ngIf="!showCard">
        <div class="media container-produtos-carrinho" *ngFor="let item of arrayProdutos; let idx = index">
            <div class="media-left media-top">
                <a href="#"><img class="media-object thumb-carrinho" src="assets/images/{{item.image}}"></a>
            </div>
            <div class="media-body">
                <p class="media-heading produto-nome">{{item.name}}</p>
                <p class="produto-preco">{{item.price | currency:'BRL':true: '1.2-2'}}</p>
            </div>
            <a href="#" (click)="removeItem(item, idx)" class="btn-fechar"><span class="glyphicon glyphicon-remove"></span> </a>
        </div>

        <div class="media-body calculos">
            <span class="pull-left">Subtotal</span>
            <span class="pull-right">{{subtotal | currency:'BRL':true: '1.2-2'}}</span>
        </div>
        <div class="media-body calculos">
            <span class="pull-left">Frete</span>
            <span class="pull-right">{{frete | currency:'BRL':true: '1.2-2'}}</span>
        </div>
        <div class="media-body calculos">
            <span class="pull-left">Total</span>
            <span class="pull-right total-span">{{total | currency:'BRL':true: '1.2-2'}}</span>
        </div>
        <button type="button" class="btn btn-primary btn-block">Finalizar compra</button>
    </div>
</div>