@import '../variaveis-sass/variaveis';
.container-carrinho {
    border: 1px solid;
    border-color: rgb(223, 223, 223);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 22px 22px 22px;
    min-height: 310px;
}

.container-carrinho h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container-carrinho .produto-nome {
    color: $cinza-escuro;
    font-size: 16px;
}

.container-carrinho .produto-preco {
    font-weight: bold;
}

.carrinho-vazio {
    margin-top: 60px;
    text-align: center;
}

.carrinho-cheio .btn {
    margin-top: 25px;
    padding: 14px 12px;
    border-color: transparent;
    background-color: $azul;
}

.carrinho-vazio small {
    margin-top: 20px;
    display: block;
    font-size: 96%;
    color: $cinza-escuro;
}

.container-produtos-carrinho {
    cursor: pointer;
    position: relative;
}

.thumb-carrinho {
    width: 67px;
}

.calculos {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.calculos span:nth-child(1) {
    color: $cinza-escuro;
}

.calculos span:nth-child(2) {
    font-weight: bold;
    font-size: 17px;
}

.total-span {
    font-size: 20px !important;
}

.btn-fechar {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: $azul;
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}

.container-produtos-carrinho .btn-fechar {
    display: none;
}

.container-produtos-carrinho:hover .btn-fechar {
    display: block;
}