@import '../variaveis-sass/variaveis';
.col-lg-9 {
    padding-right: 30px;
}

p {
    font-size: 16px;
}

h1 {
    font-weight: 600;
    font-size: 45px;
}

.container-produtos .row {
    margin-bottom: 45px;
}

.container-produtos h1 {
    margin-top: -10px;
}

.linha-produtos {
    margin-bottom: 60px;
}

.linha-produtos p {
    text-align: center;
    color: $cinza-escuro;
}

.imagem-produto {
    display: block;
    margin-bottom: 10px;
    background-color: $cinza-medio;
    padding: 20px;
    cursor: pointer;
}

.preco-add-carrinho {
    color: $azul !important;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-weight: bold;
    margin-top: -5px;
}

.produto-add-carrinho {
    opacity: 0;
    margin-top: -50px;
}

.produto-add-carrinho {
    cursor: pointer;
}

.produto-add-carrinho,
.produto-nome {
    transition: opacity 0.3s linear;
}

.thumb-produto:hover .produto-nome {
    opacity: 0;
}

.thumb-produto:hover .produto-add-carrinho {
    opacity: 1;
}