<div class="col-md-9 col-lg-9 col-sm-9 container-produtos">
    <div class="row">
        <div class="col-md-8">
            <h1>Games</h1>
        </div>

        <div class="col-md-4">
            <select class="form-control" [(ngModel)]="tipo" (change)="filtraProduto()">
                <option disabled [ngValue]="undefined">Selecione um tipo de filtro</option>          
                <option value="price">Filtrar por preço</option>
                <option value="name">Filtrar por ordem alfabética</option>
                <option value="score">Filtrar por popularidade</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 linha-produtos" *ngFor="let prod of produtos">
            <div class="thumb-produto" (click)="addCarrinho(prod)">
                <div class="imagem-produto">
                    <img class="image-responsive center-block" src="assets/images/{{prod.image}}">
                </div>
                <div class="produto-nome">
                    <p>{{prod.name}}</p>
                    <p class="preco-add-carrinho">{{prod.price | currency:'BRL':true: '1.2-2'}}</p>
                </div>
                <div class="produto-add-carrinho">
                    <p class="preco-add-carrinho ">Adicionar ao carrinho</p>
                </div>
            </div>
        </div>
    </div>
</div>
<carrinho-component #carrinho></carrinho-component>