p {
  font-size: 16px;
}

.linha-produtos {
  margin-bottom: 60px;
}

.linha-produtos p {
  text-align: center;
  color: #8f8f8f;
}

.imagem-produto {
  display: block;
  margin-bottom: 10px;
  background-color: #ebebec;
  padding: 20px;
  cursor: pointer;
}

.preco-add-carrinho {
  color: #4a99ff !important;
  font-family: 'OpenSans-SemiBold';
  margin-top: -5px;
}

.produto-add-carrinho {
  opacity: 0;
  margin-top: -50px;
}

.produto-add-carrinho {
  cursor: pointer;
}

.produto-add-carrinho,
.produto-nome {
  transition: opacity 0.3s linear;
}

.thumb-produto:hover .produto-nome {
  opacity: 0;
}

.thumb-produto:hover .produto-add-carrinho {
  opacity: 1;
}
