/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto');
body {
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

p,
small {
    font-family: 'OpenSans-Light', sans-serif;
}

.glyphicon {
    font-size: 8px;
    top: 5px;
    color: #fff;
}